// 这里可以添加添加额外自定义样式
@media screen and (min-width: 750px)
  .theme-container
    .navbar
      display: flex
      justify-content: space-between
      padding: 0.7rem 3rem
      .links
        right:3rem
.theme-container
  .home-blog .hero
    height: 40vh
    background: url("/assets/img/bg.2cfdbb33.svg") bottom center/100% 80vh no-repeat !important